body
				{
					font-family: arial;
					background-image: url("resources/woodbackground.jpg");
					background-repeat: no-repeat;
					background-size: cover;
				
				}
main
				{
					background: none; /* #D39747;light brown */
					margin-left: 250px;
					margin-right: 250px;
					height: 1000px;
					width: 700px;
					margin-top: 1px;
					border-radius: 50px 50px;
					padding: 20px;
					
				}
	
		
img
				{
					height: 250px;
					width:500px;
					border-radius: 30px 30px;
					margin: auto;
					margin-left: 15%;
					filter: drop-shadow(5px 5px 5px #222);
					
					
				}
				

ul 
				{
					list-style-type: none;
					margin: auto;
					padding: 20px;
					width: 300px;
					background-color: #F1ECD6;/* cream color */
					border-radius: 20px 20px;
					margin-top: 20px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					
				}

li a 
				{
					display: block;
					color: #000;
					padding: 8px 16px;
					text-decoration: none;
				}

li 
				{
					text-align: center;

				}

li:last-child 
				{
					border-bottom: none;
				}

li a.active 
				{
					background-color:#8F570D; /* dark brown */
					color: white;
					border-radius: 20px 20px;
				}

li a:hover:not(.active) 
				{
					background-color: #D39747; /* light brown */
					color: white;
					border-radius: 20px 20px;
				}			
