body
{
  font-family: arial;
  background-image: url("resources/woodbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img
				{
					height: 100px;
					width:150px;
					border-radius: 30px 30px;
					margin: auto;
          float: left;
					filter: drop-shadow(5px 5px 5px #222);
          position: fixed;
				}
.navbar {

    background-color: #F1ECD6;/*cream color*/
    overflow: hidden;
    font-family: Arial;
    border-radius: 10px 10px;
    margin-top: 7.5px;
    position:fixed;
    left: 13%;
    width: 100%;
}
.content
{
    margin-top:8%;
}
.navbar a {

    float: left;
    font-size: 16px;
    color: #68461a; /*brown for the text*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a.active {
  background-color:#8F570D; /* dark brown */
  color: white;
}
.dropdown {

    float: left;
    overflow: hidden;
}

.dropdown a{
    background-color: #F1ECD6; /*cream color*/
      color: #68461a;/*brown for the text*/
    font-size: 16px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover {
    background-color: #D39747; /* light brown */
    color: white;
}

.dropdown-content {
    display: none;

    position: absolute;
    background-color: #F1ECD6;/* cream color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top:80px;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #D39747; /* light brown */
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
