body
{
  font-family: arial;
  background-image: url("resources/woodbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img
				{
					height: 100px;
					width:150px;
					border-radius: 30px 30px;
					margin: auto;
          filter: drop-shadow(5px 5px 5px #222);
          float: left;
				}
.navbar {
    background-color: #F1ECD6;/*cream color*/
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13%;
    margin-top: 7.5px;
    left: 13%;
    width: auto;
    border-radius: 10px 10px;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: #68461a; /*brown for the text*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.content {
  padding: 2%;
  margin-top: 8%;
  text-align: center;
  background-color: #F1ECD6;/*cream color*/
  margin-left:25%;
  margin-right: 25%;
  margin-bottom: 10%;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #68461a; /*brown for the text*/
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #D39747; /* light brown */
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F1ECD6;/* cream color */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
  background-color: #D39747; /* light brown */
  color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* css template for any tables needed */
table, td, th
{
  border: 1px solid #8F570D; /*dark brown*/
  border-collapse: collapse;
  color: #68461a;/*brown for the text*/
}
th, td {
    padding: 10px;
}
table
{
  background-color: #F1ECD6;
  width: 80%;
  margin-left: 10%;
}
tr
{
  text-align: center;
}
th
{
  background-color:#8F570D;
  color: #F1ECD6;/* cream color */
}
tr:hover
{
  background-color: #DBAC73; /* light brown */
  color: #F1ECD6;/* cream color */
}
td:hover
{
  color: white;
}
/* end of table css*/
/*css for buttons */

input[type=submit], input[type=reset]
{
  background-color: #D39747; /* light brown */
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  font-size: 12pt;
}
input[type=submit]:hover, input[type=reset]:hover
{
  background-color: #D8A35C ;
}
